.list{
 margin-top: 20px;
 

}
.bar , a{
    position: relative;
    left: 18%;
}
.list ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 280px;
    font-size: 16px;
    
  

}



.list button{
    border: 1px black solid;
    border-radius: 20px;
    width: 150px;
    
}
.crd{
    border-top-left-radius:30%;
    border-bottom-right-radius: 30%;
    width: 18rem;

}
.crd:hover {
border-bottom-left-radius:30%;
    border-top-right-radius: 30%;
        border-top-left-radius:0%;
    border-bottom-right-radius: 0%;
}
.card-body button{
    background-color:#00354B;
    height:40px ;
    width:280px ;
    position: relative;
    right: 22px;
    border-radius: 8px;
    color: whitesmoke;
    border: none;

}
.card-body p{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-body h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
}
.card-body span{
    text-decoration: line-through;
}

.sch{
position: relative;
right: 30px

}
.icons i{
   gap: 30px;
   position: relative;
   right: 80%;

}
.bar , a{
    position: relative;
    left: 18%;
}
.head{
    color: rgba(0, 53, 75, 1);
font-family: 'Lucida Sans';
font-size: 30px;
 text-transform: capitalize;
 font-weight: bolder;

}

.first p{
    color: white;
    font-family: Poppins;
    padding-top: 2px;
}
.icin{
    margin-right: 20px;
}