.sch{
position: relative;
right: 30px

}
.icons i{
   gap: 30px;
   position: relative;
   

}
.bar , a{
    position: relative;
    left: 18px;
}

.gop{
   gap: 200px;
}

.cart-pp{
  overflow-y: scroll;
}
.bops {
  background-color: #00354B;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  /* smooth transition */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* hover effect */
.bops:hover {
  background-color: #005f7a; 
  color: #ffffff;
}

